/* ORIGINAL TASK PUPILS STARTED WITH
Full credit to code.org for task */
  
body {
  background: white;
}
h1 {
  font-weight: bold;
  color: purple;
}
/*I added an opening and closing bracket*/
p {
  color: gray;
}
